module Poker =
 
    type Suit = Club | Diamond | Heart | Spade

    type Value = Ace | Two | Three | Four | Five | Six | Seven | Eight | Nine | Ten | Jack | Queen | King

    type Card = {
        Suit: Suit
        Value: Value
    }

    type Variant = HoldEmNoLimit | HoldEmPotLimit

    type Player = String

    type Currency = USD | GBP | CHIPS

    type Amount =  {
        Amount: decimal
        Currency: Currency
    }
        
    type Dealt = {
        Player: Player
        Hand: Card List
    }

    type Action = {
        Player: Player
        Amount: Amount
    }