let hb = sayHello .>>. waveGoodbye
let parsed = run hb "Say Hello Wave Goodbye" 

match parsed with
    | Success(result, _, _)  -> printfn "%s" result
    | Failure(errorMsg, _, _) -> printfn "%s" errorMsg"

// Error in Ln: 1 Col: 10
// Say Hello Wave GoodBye
//         ^
// Expecting: 'Wave Goodbye'
