let parsed = run sayHello "Say Hello" 
// string -> ParserResult<string, 'a>

match parsed with
    | Success(result, _, _)  -> printfn "%s" result
    | Failure(errorMsg, _, _) -> printfn "%s" errorMsg"

